body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.header, .header-left-side {
    display: flex;
    position: relative;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 0 50px 0 0;
    height: calc(100vh - 125px);
    font-family: Trueno;
    z-index: 1;
    margin-left: 65px;
}

.inApp {
    width: 90%;
}

.yellow-point {
    stroke: #1D78BE;
    stroke-width: 1;
}

.svg-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.svg-line span {
    margin-left: 15px;
    font-weight: 700;
    font-size: 16px;
    font-family: Raleway;
}

.header-left-side {
    padding: 6% 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: flex;
}

.header-left-side h1 {
    font-family: Montserrat, sans-serif;
    font-size: 3.5vw;
    font-weight: 900;
    margin-bottom: 25px;
    color: #000000;
    line-height: 90%;
}

.header-left-side p {
    width: 98%;
    font-size: 18px;
    font-weight: 300;
    color: #2E2E2E;
    text-align: justify;
    margin-bottom: 25px;
    font-family: Trueno;
}

.header-right-side {
    height: 100%;
    width: 60%;
    padding-right: 15px;
}

.header-right-side img {
    height: 100%;
    width: 100%;
}

.carousel {
    position: relative;
}

.carousel-text {
    color: #ffffff;
    bottom: 5%;
    left: 40.5%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.carousel-text, .overlay {
    position: absolute;
    z-index: 1;
}

.carousel-text .svg-line span {
    margin-left: 15px;
    font-weight: 900;
    font-size: 20px;
    font-family: Trueno;
    letter-spacing: 1.5px;
}

.carousel-text .line {
    width: 80px;
    background: #1D78BE;
    height: 3px;
}

.svg-line span {
    margin-left: 15px;
    font-weight: 900;
    font-size: 16px;
    font-family: Raleway;
}

.overlay {
    background: #000000;
    height: 100%;
    width: 100%;
    opacity: .3;
}

.image-wrapper-bottom {
    overflow: hidden;
}

.header-next-preview {
    width: 225px;
    height: 150px;
    right: 10px;
    bottom: 25px;
}

.header-next-preview {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-next-preview img {
    width: 80%;
    height: 100%;
}

.header-next-preview button {
    width: 80px;
    height: 100%;
    background: #1D78BE;
    border: none;
    color: #ffffff;
    font-size: 24px;
    -webkit-transition: .1s ease;
    transition: .1s ease;
}

.header-next-preview button i {
    margin-right: 10px;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.header-right-side-bottom {
    height: 75px;
    width: 55%;
    position: absolute;
    right: 0;
    bottom: -72.5px;
    display: inline-grid;
    z-index: -1;
    background: #20275C;
    -webkit-animation: pageCurl 1.5s linear;
    animation: pageCurl 1.5s linear;
}

.header-right-side-bottom-items {
    -ms-flex-item-align: center;
    align-self: center;
    position: absolute;
    bottom: -10px;
    color: #ffffff;
}

.header-right-side-bottom-items div {
    padding: 10px;
    margin: 10px;
}

.d-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-right-side-bottom-items {
    color: #ffffff;
}

.header-right-side-bottom-items span {
    font-size: 14px;
    margin: 5px;
}

.header-right-side-bottom-items div {
    padding: 10px;
    margin: 10px;
}

.loading {
    position: relative;
    width: 100px;
}

.marqee-text {
    position: absolute;
    bottom: -7.5%;
    left: 5%;
    width: 32%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

h6 {
    font-size: 1rem;
}


.typewriter h6 {
    margin-left: 10px;
    color: #000000;
    overflow: hidden;
    font-weight: 600;
    white-space: nowrap;
    letter-spacing: .15em;
}

.top-pane {
    height: 65px;
}

.mini-heading {
    margin-left: 15px;
    font-weight: 900;
    font-size: 16px;
    font-family: Raleway;
}

.img-logo {
    height: 65px;
    width: 65px;
    float: inline-start;
}

.img-menu {
    height: 65px;
    width: 65px;
    float: inline-end;
}

.middle-section {
    height: 100%;
    margin-top: 100px;
    font-family: Trueno !important;
}

.main-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.left-side {
    width: 380px;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    padding-left: 5rem;
    min-width: 300px;
    justify-content: center;
}

.left-side h1 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 50px;
    line-height: 1.2;
}

.left-side p {
    font-size: 20px;
    width: 350px;
    color: #2E2E2E;
}

.right-side {
    width: 65%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
}

.parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.childs {
    width: 300px;
    padding: 0 20px;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.childs img {
    margin-top: 25px;
    width: 150px;
    height: 100%;
}

.childs h1 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 800;
    height: 50px;
}

.childs p {
    height: 250px;
    text-align: justify;
    font-size: 18px;
    color: #2E2E2E;
}

@keyframes slideshow {
    10% {
        left: 0;
    }
    20% {
        left: 0;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    60% {
        left: -200%;
    }
    70% {
        left: -300%;
    }
    80% {
        left: -300%;
    }
    90% {
        left: -400%;
    }
    100% {
        left: -400%
    }
}

#slider {
    overflow: hidden;
    /* width: 50%; */
    height: 100%;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 10s slideshow infinite
}

@media screen and (max-width: 767px) {
    #slider {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }
}